node-red-notes/concatenate-api/concatenate-api.json.json
[{"id":"61190ff5.85eec","type":"http request","z":"382e6c42.8e461c","name":"API Call","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.fisenko.net/v1/quotes/en/random","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":1120,"wires":[["f0fb2304.cdd8f","c2b1eddf.0c5eb","c221498f.e05d58"]]},{"id":"f0fb2304.cdd8f","type":"change","z":"382e6c42.8e461c","name":"jsonata","rules":[{"t":"set","p":"payload","pt":"msg","to":"'Text is: ' & payload.text & ' Author is' & payload.author.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1060,"wires":[["a1156bfb.552f68"]]},{"id":"e527e6e9.a5ddb8","type":"comment","z":"382e6c42.8e461c","name":"Concatenate an API call (in 3 ways)","info":"","x":660,"y":980,"wires":[]},{"id":"c8f195ba.91c368","type":"inject","z":"382e6c42.8e461c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":1060,"wires":[["61190ff5.85eec"]]},{"id":"c2b1eddf.0c5eb","type":"template","z":"382e6c42.8e461c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Text is: {{payload.text}} \n\nAuthor: {{payload.author.name}}","output":"str","x":700,"y":1100,"wires":[["a1156bfb.552f68"]]},{"id":"a1156bfb.552f68","type":"debug","z":"382e6c42.8e461c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":1080,"wires":[]},{"id":"c221498f.e05d58","type":"function","z":"382e6c42.8e461c","name":"Function","func":"var t1 = 'Text is:';\nvar t2 = msg.payload.text; \nvar t3 = ' Author: ';\nvar t4 =  msg.payload.author.name;\n\nmsg.payload = t1 + t2 + t3 + t4;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1140,"wires":[["a1156bfb.552f68"]]}]
