node-red-notes/create-json/create-json-parameters.json.json
[{"id":"d89cb479.b37858","type":"inject","z":"382e6c42.8e461c","name":"","topic":"","payload":"Davide","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":840,"wires":[["9a5e36d6.f5a6a8","577abe41.681d2","d6b21205.8cf03"]]},{"id":"9a5e36d6.f5a6a8","type":"template","z":"382e6c42.8e461c","name":"Template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"employment\":\"teacher\",\n    \"name\":\"{{payload}}\"\n    \n} ","output":"json","x":640,"y":840,"wires":[["a8793535.13abf8"]]},{"id":"a8793535.13abf8","type":"debug","z":"382e6c42.8e461c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":840,"wires":[]},{"id":"577abe41.681d2","type":"function","z":"382e6c42.8e461c","name":"Function","func":"msg.payload = {\"employment\":\"teacher\",\"name\":msg.payload}; \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":900,"wires":[["a8793535.13abf8"]]},{"id":"d850824e.ce9cd","type":"comment","z":"382e6c42.8e461c","name":"Cretae JSON on the go (in 3 ways)","info":"","x":600,"y":700,"wires":[]},{"id":"d6b21205.8cf03","type":"change","z":"382e6c42.8e461c","name":"Jsonata / Change","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"employment\":\"teacher\",\"name\":payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":780,"wires":[["a8793535.13abf8"]]}]
