microntrollers/16_basicMQTTJson_Condition/mqtt-json-condition.json
[{"id":"61481346.cd22fc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6f92601a.e14a38","type":"mqtt in","z":"61481346.cd22fc","name":"","topic":"#","qos":"0","datatype":"auto","broker":"5d5dc8e5.3afd88","x":270,"y":160,"wires":[["5d00fe9e.368b68"]]},{"id":"5d00fe9e.368b68","type":"debug","z":"61481346.cd22fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":200,"wires":[]},{"id":"ed186795.9e4d08","type":"mqtt out","z":"61481346.cd22fc","name":"","topic":"","qos":"","retain":"","broker":"5d5dc8e5.3afd88","x":620,"y":320,"wires":[]},{"id":"5cd777f2.bf108","type":"mosca in","z":"61481346.cd22fc","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"user","password":"password","dburl":"","x":150,"y":60,"wires":[[]]},{"id":"755c3e07.1a24e","type":"inject","z":"61481346.cd22fc","name":"complete json string (open)","topic":"/hello","payload":"{\"name\":\"LED\",\"status\":\"open\",\"pin\":2,\"color\":\"red\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":240,"wires":[["ed186795.9e4d08"]]},{"id":"7817d3f0.f577dc","type":"inject","z":"61481346.cd22fc","name":"complete json string (closed)","topic":"/hello","payload":"{\"name\":\"LED\",\"status\":\"closed\",\"pin\":0,\"color\":\"red\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":280,"wires":[["ed186795.9e4d08"]]},{"id":"f75bbc63.c339d","type":"inject","z":"61481346.cd22fc","name":"json for status open","topic":"/hello","payload":"{    \"status\": \"open\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":340,"wires":[["ed186795.9e4d08"]]},{"id":"e4d35e49.5b693","type":"inject","z":"61481346.cd22fc","name":"json for pin 0","topic":"/hello","payload":"{    \"pin\": 0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":380,"wires":[["ed186795.9e4d08"]]},{"id":"5d5dc8e5.3afd88","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]